html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

header,
footer {
  height: 64px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: auto;
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header-links {
  margin: 0;
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #1f2937;
}

.hero h1 {
  color: #f9faf8;
  font-weight: 800;
  font-size: 48px;
  margin: 8px 0 16px 0;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0 0 16px 0;
}

.hero button {
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  color: #f9faf8;
  padding: 8px 16px;
}

.hero .container {
  display: flex;
  padding: 64px 16px;
  gap: 64px;
}

.hero-image {
  width: 100%;
  height: 300px;
  background: grey;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-image {
  border: 3px solid #3882f6;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 760px;
  margin: 64px auto;
}

.information h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.card-container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 64px 0;
}

.quote p {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
}

.quote .credit {
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
}

.quote .container {
  max-width: 760px;
  display: flex;
  flex-direction: column;
}
